%{~ if ca_cert != "" && ca_key != "" ~}
apiVersion: v1
kind: Secret
metadata:
  name: cilium-ca
  namespace: kube-system
data:
  ca.crt: ${base64encode(ca_cert)}
  ca.key: ${base64encode(ca_key)}
type: Opaque
%{endif}
