%{~ if authkey != "" ~}
apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: tailscale
environment:
  - TS_AUTHKEY=${authkey}
  - TS_ROUTES=${vm_subnet},${pod_subnet},${service_subnet}
  - TS_EXTRA_ARGS=--accept-routes --reset
%{endif}
