transformations:
  %{~ for ng, in ngs ~}
  %{~ if ng != "control-plane" ~}
  - name: ${ng}
    nodeSelector:
      - matchExpressions:
          - key: hostname
            operator: Regexp
            values:
              - ^${ng}-.+$
    labels:
      node-role.kubernetes.io/${ng}: ""
  %{ endif }
  %{~ endfor ~}
